* {
  font-family: Arial, Helvetica, sans-serif;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
.text-w {
  color: #fff;
}
/******** Header ********/
header {
  background-color: #b5c9e6;
}
.nav-logo {
  max-height: 100px;
}
.img-link {
  display: inline-block;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}
nav .center {
  margin: a;
}
nav .left,
nav .right {
  flex: 1;
}
/******** Sidebar ********/
.sidebar {
  background-color: #4c4d50;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 70vh;
  width: 180px;
}
main {
  margin-left: 180px;
}
.sidebar a {
  width: 80%;
  margin-top: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: darkgrey;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
/******** Footer ********/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #1f5daf;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/******** Rows ********/
.row {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.row.center-content {
  align-items: center;
  gap: 15px;
}
.row.center-content.login {
  height: 40vh;
  justify-content: center;
}
.airport-background-img {
  background-image: url("../images/vliegveld.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 61vh;
}
/******** Buttons ********/
.btn-container {
  display: flex;
}
.btn-container.vertical {
  flex-direction: column;
  gap: 20px;
}
.home-btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 60px 80px;
  border: solid 3px #fff;
}
.home-btn:hover {
  background-color: #fff;
  border-color: #000;
}
.home-btn:hover span {
  color: #000;
}
/******** Form ********/
.login-from form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
#submit-btn {
  margin-top: 10px;
  padding: 10px;
}
form input {
  min-height: 30px;
  border-radius: 5px;
  border: solid 1px #000;
}
