* {
  font-family: Arial, Helvetica, sans-serif;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
.text-w {
  color: #fff;
}
.belangrijk {
  font-weight: bold;
}
/******** Header ********/
header {
  background-color: #b5c9e6;
  position: fixed;
  width: 100%;
}
.back-header {
  height: 183.7px;
}
.nav-logo {
  max-height: 100px;
}
.img-link {
  display: inline-block;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}
nav .center {
  margin: a;
}
nav .left,
nav .right {
  flex: 1;
}
/******** Sidebar ********/
.sidebar {
  background-color: #4c4d50;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 180px;
  top: 184px;
}
main {
  margin-left: 180px;
}
.sidebar a {
  width: -moz-available;
  margin: 10px 10px 0px 10px;
  text-align: center;
  border: 1px solid black;
  background-color: darkgrey;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.dropdown {
  width: 100%;
}
.dropdown-content {
  transition: all 0.2s;
  visibility: collapse;
  opacity: 0;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
/******** Footer ********/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #1f5daf;
  width: 100%;
  bottom: 0;
  position: absolute;
}
#privacy-page footer {
  position: unset;
}
/******** Rows ********/
.row {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.row.columns {
  flex-direction: row;
  gap: 50px;
}
.row.columns.center {
  justify-content: center;
}
.row.no-pad {
  padding: 0;
}
.row.center-content {
  align-items: center;
  gap: 15px;
}
.row.center-content.login {
  height: 40vh;
  justify-content: center;
}
.airport-background-img {
  background-image: url("../images/vliegveld.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 61vh;
}
/******** Buttons ********/
.btn-container {
  display: flex;
}
.btn-container.vertical {
  flex-direction: column;
  gap: 20px;
}
.home-btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 60px 80px;
  border: solid 3px #fff;
}
.home-btn:hover {
  background-color: #fff;
  border-color: #000;
}
.home-btn:hover span {
  color: #000;
}
/******** Form ********/
.login-from form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
#submit-btn {
  margin-top: 10px;
  padding: 10px;
}
form input {
  min-height: 30px;
  border-radius: 5px;
  border: solid 1px #000;
}
form div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.form-gap {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
input[type="submit"] {
  padding: 10px;
}
.invoer-vlucten-form {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  margin-top: 20px;
}
.invoer-vlucten-form input[type="submit"] {
  margin-top: 20px;
}
.form-column {
  gap: 5px;
}
.koffer-form {
  display: grid;
  width: 52%;
  row-gap: 5px;
}
/**** Form requirement ****/
input:required,
option:required {
  background-color: red;
  color: white;
  opacity: 0.8;
}
input:required:valid {
  background-color: green;
  opacity: 0.8;
}
/******** ingelogd medewerker ********/
.vluchten {
  background-image: url(../images/vluchten.png);
}
.invoer-vlucht {
  background-image: url(../images/infovlucht.png);
}
.invoer-passagier {
  background-image: url(../images/passagier.png);
}
.startpagina-menu {
  width: 90%;
  display: grid;
  grid-template-columns: 31.33% 31.33% 31.33%;
  gap: 3%;
}
.startpagina-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  filter: grayscale(100%);
  transition: filter 0.4s;
}
.startpagina-menu a:hover {
  filter: none;
}
/******** ingelogd passagier ********/
.persoonlijk {
  background-image: url(../images/persoonlijk.png);
  color: #000 !important;
}
.koffer {
  background-image: url(../images/koffer.png);
}
/******** table style ********/
table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

tr {
  min-height: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td,
th {
  text-align: left;
  border: 1px solid black;
}

th {
  background-color: #1f5daf;
}

td a {
  color: purple;
}
